/* main */

header {
    height: 74px;
    padding: 10px 0;
    border-bottom: 2px solid grey;
}

.header_buttons {
    margin: 45px 20px 0 50px;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

footer {
    background-color: #dcdcdc;
    padding: 3px;
    font-size: 14px;
    clear: both;
    width: 974px;
	margin: auto !important;
}

/*content layout */

.one_column {
    padding: 20px;
    margin: 10px 0;
    float: left;
    width: 940px;
}

.three_c_sm_left {
    width: 160px;
    margin: 30px 20px 30px 0;
    float: left;
}

.three_c_sm_right {
    width: 160px;
    margin: 30px 0 30px 20px;
    float: left;
}

.three_c_big {
    width: 580px;
    padding: 20px;
    margin: 30px 0;
    float: left;
}

.three_c_big_nopadding {
    width: 620px;
    margin: 30px 0;
    float: left;
}

.two_c_sm {
    width: 160px;
    margin: 30px 0 30px 20px;
    float: left;
}

.two_c_big {
    width: 800px;
    margin: 30px 0;
    float: left;
}

.banner {
    background-color: #fff;
}